.weather {
    width: 600px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #ffffff;
    margin: 20px auto 20px auto;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right,#3394DE,#8AC1EB);

}

@media screen and (max-width:767px){
    .weather {
        flex-direction: column;
        padding: 0;
        width: 90%;
        
    }
}



.top-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width:767px){ 
    .top-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}
 }


.temprerature-container {
     display: flex ;
 

}

@media screen and (max-width:767px){  
    .temprerature-container{
        align-items: center;
        margin: 5px auto 0 0;
    }
}



.temperature {
     font-weight: 600;
     font-size: 70px;
     margin: 10px auto 0px auto;
     letter-spacing: -5px;
}

@media screen and (max-width:767px){ 
    .temperature {
     font-weight: 600;
     font-size: 60px;
     margin-left: 10px;
     letter-spacing: 1px;
     margin-right: 10px;
}
}

.city {
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
    padding-left: 5px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

@media screen and (max-width:767px){ 
    .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
   
}
 }


.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    gap: 4px;
    letter-spacing: 1;
}

@media screen and (max-width:767px){
     .weather-description {
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    gap: 4px;
    letter-spacing: 1;
}

  }


.weather-icon {
    width: 100px;
}

@media screen and (max-width:767px){ 
    .weather-icon {
    width: 100px;
    margin-top: 15px;
}
 }



.bottom-container {
     margin: 25px auto;
}

@media screen and (max-width:767px){ 

   .bottom-container {
     margin: 25px 10px 10px 10px;
}
}

.details {
     width: 100%;
     padding-left: 20px;
     gap: 5px;
     display: flex;
     flex-direction: column;
}



@media screen and (max-width:767px){ 
   .details {
     width: 100%;
     padding-left: 0;
     gap: 5px;
     display: flex;
     flex-direction: column;
}
}



.parameter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.parameter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebe5e5;
    color: black;
    padding: 5px;
}

.parameter-label-top {
    font-size: 16px;
    font-weight: 600;

}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  padding-right: 35px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width:767px){  
    .parameter-value {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

}

