.about {
  padding: 80px 20px;
  background-color: #f1f5f9; 
  text-align: center;
}
.about h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(0, 140, 255);
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.about-text {
  max-width: 600px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
}

/* Responsive for tablets/desktops */
@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .about-photo {
    margin-bottom: 0;
  }

  .about-text {
    text-align: left;
  }
}
